.text-color {
  color: #e5dcdc;
}

.gradient-custom {
  /* fallback for old browsers */
  background-color: #6a11cb;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background-color: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
  }


  .top-buffer { margin-top:65px; }

  .nav-item .nav-link.nav-button {
    border-radius: 10px;
    background-color: RGB(68, 72, 104);
    transition: 1000ms;
    color: white;
  }

  .nav-item .nav-link.nav-log-out-button {
    border-radius: 10px;
    background-color: RGB(68, 72, 104);
    transition: 1000ms;
    color: red;
  }
  
  .nav-item .nav-link.nav-log-out-button:hover {
    border-radius: 100px;
    background-color: red;
    color: white;
  }

  .nav-item .nav-link.nav-button:hover {
    border-radius: 100px;
    background-color: RGB(42, 42, 87);
  }

  #postbutton{
    background-color: #7e34af;
    color: white;
  }

  #postbutton:hover{
    background-color: #47116e;
  }

