.news-cards {
  background-color: RGB(0, 0, 200);
  padding: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(255, 254, 254, 0.1);
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
}

.news-card {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  border-radius: 25px;
  box-shadow: 0px 2px 4px RGB(68, 72, 104);
  background-color: RGB(68, 72, 104);
  font-size: 16px;
  line-height: 24px;
}

.news-text {
  color: white;
  
}

.news-content {
  color: #e5dcdc;
}



.news-card img {
  width: 64px;
  height: 64px;
  margin-right: 16px;
  border-radius: 50%;
}

.news-card h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 8px 0;
}

.news-card p {
  margin: 0;
}

.news-card .news-date {
  font-size: 14px;
  color: #e5dcdc;
  margin-left: auto;
}

