.description{
  background-color: rgb(220, 220, 220);
  color: #333333;
}

.button{
  background-color: rgb(220, 220, 220);
  color: #333333;
}

.button-danger{
  background-color: rgb(255, 0, 0);
  color: white;
}

.button-danger :hover{
  background-color: white;
  color: red;
}

.dark-form {
  width: 200px;
  background-color: rgb(26, 175, 255);
  color: black;
  border-radius: 20px;
}

.feed-form {
  width: 400px;
  height: 35px;
  border: 2px solid #0dcaf0;
  color: black;
  border-radius: 20px 0px 0px 20px;
}

.feed-form :active {
  border: 3px solid #0dcaf0;
}