.profile {
    margin: 10px;
    width: 100%;
    padding: 0px 0px 10px 20px;
    background-color: aqua;
}

#profile-information {
    margin: 20px;
    border: 3px solid white;
    border-radius: 20px 20px 0px 0px;
    padding: 10px;
    background-color: RGB(50, 50, 400);
    color: white;

}

.notweets {
    color: white;
}

#followings {
    text-align: center;
}

#profile-feed {
    margin: auto;
    padding: 30px 0px 0px 10px;
}

#follow-button {
    color: white;
    background-color: purple;
    border: 1px solid;
    border-radius: 30px;
    width: 85px;
    height: 30px;
    position: absolute;
    cursor: hand;
    transition-duration: 0.1s;
}

#follow-button:hover{
   background-color: rgba(236, 0, 236, 0.541);
}

#username{
    color: grey; 
}

#notweettext{
    text-align: center;
}