
.profile{
    margin: auto;
    width: 40%;
}

#profile-information{
    margin: auto;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
}

#followings{
    text-align: center;
}

#profile-feed{
    margin: auto;
    background: rgb(179, 179, 179);
}


